body{
    font-family: "Times New Roman";
}
h2{
    color:blue;
}    
td{
    width: 60px; 
    height:60px; 
    border: solid 1px silver; 
}
ul#menu li {
    display:inline;
    width: 200px; 
    height:200px; 
}
ul#menu li {
    display:inline;
    width: 200px; 
    height:200px; 
}
::selection {
    color: white;
    background-color: black;
}
@font-face {
    font-family: 'Roboto';
    src: url(fonts/Roboto-Regular.ttf);
    font-weight: normal;
    font-style: italic;
}
h1{
    text-shadow: 5px 4px 3px #999;
}
details > summary {
    padding: 5px;
    background-color: #eee;
    color: #333;
    border: 1px #ccc solid;
    cursor: pointer;
    list-style: none;
}
details[open] > summary {
    color:#eee; 
    background-color:#333;
}summary:before {
    content: "+";
    font-size: 20px;
    font-weight: bold;
    margin: -5px 5px 0 0;
 }
  
 details[open] summary:before {
    content: "-";
 }
 #header{
    background-color: #ccc;
    width: 1300;
    margin: auto;
}
#footer{ 
    background-color: rgba(93, 160, 31, 0.486);
}

div{
    background-color: aliceblue;
    margin: 15px;  /*внешний отступ */
    padding: 11px; /* внутренний отступ */
    border: 1px inset red; /* границы шириной в 3 пикселя сплошной красной линией */
    border-radius: 20px;
}
#main{
    margin-left: 200px;
    margin-right: 200px;
}

#iframe{
    width: 150;
    float: right;
}
#aside{
    width: 150;
    float: right;
    background-color: rgb(0, 225, 255);
    /*opacity: 0.2;*/
    background-image: linear-gradient( bottom,black,white);
    background-image: -o-linear-gradient(bottom,black,white);
    background-image: -moz-linear-gradient(bottom,black,white);
    background-image: -webkit-linear-gradient(bottom,black,white);
}

ul.nav{
    margin-left: 0px;
    padding-left: 0px;
    list-style: none;
    float: left;
}
ul.nav a {
    display: block;
    width: 7em;
    padding:10px;
    background-color: #f4f4f4;
    border-top: 1px dashed #333;
    border-right: 1px dashed #333;
    border-left: 5px solid #333;
    text-decoration: none;
    color: #333;
}
ul.nav li:last-child a {
    border-bottom: 1px dashed #333;
}
